$primary: #90fcdc;
$body-bg: #0d192f;
$body-color: #ccd6f6;

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');

@import '~n_m/bootstrap/scss/bootstrap';

@import "~n_m/bootstrap-icons/font/bootstrap-icons.css";

@import "./index.css"